.fade-enter-active[data-v-9f06d4d3],.fade-leave-active[data-v-9f06d4d3]{transition:all .3s ease}.fade-enter-from[data-v-9f06d4d3]{opacity:0;transform:translateY(10px)}.fade-leave-to[data-v-9f06d4d3]{opacity:0;transform:translateY(-10px)}
